site_name: PiTCT
site_url: https://omucai.github.io/PiTCT-docs/
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/OMUCAI/PiTCT
    - icon: fontawesome/solid/book
      link: https://github.com/OMUCAI/PiTCT-docs/
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/pitct/
    - icon: fontawesome/solid/flask
      link: https://www.caikai.org/
repo_url: https://github.com/OMUCAI/PiTCT/
edit_uri: https://github.com/OMUCAI/PiTCT-docs/edit/main/docs/

theme:
  name: material
  custom_dir: overrides
  palette:
    primary: blue grey
  features:
    # - announce.dismiss
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    # - navigation.prune
    # - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    # - navigation.top
    - navigation.tracking
    - search.highlight
    # - search.share
    # - search.suggest
    - toc.follow

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - tables
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences

plugins:
  - search
  - awesome-nav
  