name: Build And Deploy Pages
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: "Setup Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      
      - name: Install the project
        run: uv sync --all-groups
      
      - name: Build Document
        run: uv run mkdocs build

      - name: Download PiTCT Pyodide wheels
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: jupyterlite
        run: |
          gh release download --repo OMUCAI/PiTCT --pattern "*-pyodide_2025_*.whl" --dir custom_wheels

      - name: Build JupyterLite
        working-directory: jupyterlite
        run: uv run jupyter lite build
      
      - name: Inject Graphviz WASM loader
        working-directory: jupyterlite
        run: uv run python patch/load_graphviz.py
      
      - uses: actions/upload-pages-artifact@v3
        with:
          path: site
      
  deploy:
      needs: build
      permissions:
        pages: write
        id-token: write
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}
      runs-on: ubuntu-latest
      steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4

        
